/* .jumbotron {
    padding: 6rem;
} */
nav {
    background-color: #141d26;
}

footer {
    background-color: #141d26;
}

body {
    background-color: #243447;
}

section {
    padding-top: 5rem;
}

.float{
	position:fixed;
	width:256px;
	height:144px;
	bottom:40px;
	left:40px;
	text-align:center;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 50px;
    height: 50px;
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: lightskyblue;
    border-radius: 50px; /* Rounded corners */
    font-size: 30px; /* Increase font size */

}#myWa {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 50px;
    height: 50px;
    bottom: 30px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: lightskyblue;
    border-radius: 50px; /* Rounded corners */
    font-size: 30px; /* Increase font size */
}

#myBtn:hover {
    background-color: white; /* Add a dark-grey background on hover */
}